@font-face {
    font-family: 'IFDurerDisplay';
    src: url('../fonts/IFDurerDisplay.ttf');
}

body {
    font-family: 'IFDurerDisplay';
    background-color: black;
    color: white;
    overflow: hidden !important;
}

/* navbar */
#navbar_wrapper {
    /* background: darkred; */
    display: flex;
    height: 40px;
    position: relative;
}

#navbar_wrapper #navbar_brand a {
    position: absolute;
    left: 30px;
    transform: translateY(-50%);
    top: 50%;
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}

#nav_links_wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    right: 30px;
    width: auto;
    height: 40px;
    /* background: darkgreen; */
}

#nav_links_wrapper ul {
    display: flex;
}

#nav_links_wrapper li {
    list-style: none;
    /* background: darkblue; */
    margin-left: 25px;
    text-transform: uppercase;
}

#nav_links_wrapper .nav_item {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav_links_wrapper .dot_icon {
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
}

/* footer */
#trailer_wrapper {
    width: 300px;
    height: 170px;
    position: absolute;
    bottom: 0;
    left: 20px;
    bottom: 20px;
    z-index: 0;
}

#shader {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .7;
    z-index: 2;
}

#trailer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: 12px;
    z-index: 1;
}

#scroll_text {
    text-transform: uppercase;
    color: white;
    position: absolute;
    bottom: 5px;
    transform: translateX(-50%);
    left: 50%;
}

#music_stats {
    display: flex;
    /* background: darkblue; */
    height: 30px;
    width: 15%;
    position: absolute;
    right: 30px;
    bottom: 25px;
}

#muted_label {
    display: flex;
    align-items: center;
    margin-right: 20px;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 14px;
}

#volume_bar_wrapper {
    /* background-color: darkred; */
    display: flex;
    align-items: center;
}

#volume_bar_wrapper .volume_bar {
    width: 2px;
    border-radius: 50px;
    height: 20px;
    background-color: white;
    margin-left: 3px;
    margin-right: 3px;
}
